body {
  overflow: hidden;
  background: url(../../assets/fondo-vacio.png);
  background-size: cover;
  font-family: 'Hind Siliguri', sans-serif;
}

h1 {
  text-align: center;
}

a{
  text-decoration: none;
  color: black;
}

button {
  background-color: white;
  width: 100px;
  height: 30px;
  border: none;
  border-radius: 5px;
  color: black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-bottom: 150px;
}

button:hover{
  background-color: rgb(220,220,220);
}

.misBotones {
  display: grid;
  place-items: center;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}

.container {
  position: fixed;
  bottom: 25px;
  right: 30px;
  width: 30px;
  height: 30px;
}

.iconbtn {
  font-size: 2em;
  opacity: 0.5;
}

.iconbtn:hover {
  opacity: 1;
}

.popup {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(114, 165, 164, 100);
  width: 0px;
  height: 100px;
  position: fixed;
  bottom: 55px;
  right: 40px;
  border-radius: 10px;
  opacity: 0;

  transition: width 2s, opacity 1s;
}

.popText{
  flex: 0 0 150px;
  font-size: 14px;
  font-style: italic;
  opacity: 0.5;
}

.atras{
  position: fixed;
  top: 0;
  left: 10px;
  width: 50px;
  opacity: 0.5;
}

.atras:hover{
  opacity: 1;
}

.fa-long-arrow-alt-left{
  font-size: 2em;
}
