html, body {
  height: 100%;
}

body {
  background: url(../../assets/fondo.jpg);
  background-size: cover;
  font-family: 'Hind Siliguri', sans-serif;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contenedor {
  display: inline-block;
  position: absolute;
  right: 50%;
  left: 40%;
  top: 90%;
  width: 500px;
  font-size: 1.3em;
}

#in{
  padding-right: 50px;
}

.onoffswitch {
    position: absolute;
    width: 90px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
    top: 5%;
}
.onoffswitch-checkbox {
    position: absolute;
    opacity: 0;
    pointer-events: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    /* border: 2px solid #999999;  */
    border-radius: 20px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
    font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "ON";
    padding-left: 10px;
    background-color: #00C0F0; color: #FFFFFF;
}
.onoffswitch-inner:after {
    content: "OFF";
    padding-right: 10px;
    background-color: #EEEEEE; color: #999999;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 18px; margin: 6px;
    background: #FFFFFF;
    position: absolute; top: 0; bottom: 0;
    right: 56px;
    border: 2px solid #999999; border-radius: 20px;
    transition: all 0.3s ease-in 0s;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px;
}
